-f https://download.pytorch.org/whl/torch_stable.html
addict==2.3.0
brotlipy==0.7.0
certifi==2020.6.20
cffi
chardet==3.0.4
click==7.1.2
cryptography
cycler==0.10.0
Cython==0.29.21
fastapi==0.63.0
Flask==1.1.2
gunicorn==20.0.4
h11==0.12.0
idna
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mmcv-full==1.1.5
mmpycocotools==12.0.3
numpy==1.19.2
olefile==0.46
opencv-python==4.4.0.44
pandas
Pillow
pycparser
pydantic==1.7.3
pydicom
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2020.1
PyYAML==5.3.1
requests
scipy
seaborn
sip==4.19.24
six==1.15.0
starlette==0.13.6
terminaltables==3.1.0
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tornado==6.0.4
typing-extensions==3.7.4.3
urllib3
uvicorn==0.13.3
Werkzeug==1.0.1
yapf==0.30.0
